extends layout

block variables
  title !{tim(strings.dashboard.title)} - Transcord

block content
  main.mdl-layout__content.bg
    div.mdl-grid(style="max-width:900px")

      include sidebar

      div.mdl-card.mdl-cell.mdl-cell--8-col
        div.mdl-card__title.mdl-color--primary.mdl-color-text--white
          h2.mdl-card__title-text Calls
        div.mdl-grid.table-grid
          - var i=startingIndex;
          - var paginationCount=10;
          - var pageNumber=Math.ceil(user.recordings.length/paginationCount); // how many pages 
          - user.recordings.reverse().slice(i,i+paginationCount).forEach(function(recording) {
            div.recording-card.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col
              //div.mdl-card__title.mdl-color--primary.mdl-color-text--white
                //h2.mdl-card__title-text !{tim(strings.dashboard.transcriptPrefix)} !{recording.numberCalledFormatted}
              div.mdl-card__supporting-text
                //button.recording-play-button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored(id='button-' + i)
                  i.material-icons.play(id='button-text-' + i) play_arrow
                div.mdl-grid
                  div.mdl-card.mdl-cell.mdl-cell--4-col
                    b(style='font-weight=500') 
                      - console.log(recording.direction);
                      if(recording.direction==0)
                        | !{recording.numberCalledFormatted}
                        i.material-icons.direction-icon call_made
                      else if(recording.direction==1)
                        | !{recording.numberFromFormatted}
                        i.material-icons.direction-icon call_received
                      else 
                        | !{recording.numberCalledFormatted}
                        i.material-icons.direction-icon call_made
                    - recording.startTimeFormatted = new Date(recording.startTime.toString());
                    p(style='font-weight=300,font-size=10px') !{moment(recording.startTimeFormatted).format('MMM DD, YYYY h:mm a')}
                  div.mdl-card.mdl-cell.mdl-cell--8-col
                    audio.audio(id='audio-' + i data-id=i crossorigin=true playsinline=true)
                      source(src=recording.recordingUrl type="audio/wav")
                    //div.waveform(id='waveform-' + i data-id=i data-recordingUrl=recording.recordingUrl)
                      div(id="progress-" + i class="mdl-progress mdl-js-progress mdl-progress__indeterminate")
              div.mdl-card__actions.mdl-card--border
                //div(style="float:left")
                  b(style="font-weight:500") Some info here
                
                div(style="float:right")
                    a(href='/dashboard/downloadRecording/' + recording.recordingSid)
                      button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.mdl-color-text--primary
                        i.material-icons save_alt
                    a(href='/dashboard/deleteRecording/' + recording.recordingSid)
                      button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.mdl-color-text--primary
                        i.material-icons delete
                    a(href='/dashboard/transcript/' + recording.recordingSid)
                      button.mdl-button.mdl-button--accent.mdl-js-button.mdl-color-text--primary.mdl-js-ripple-effect !{tim(strings.dashboard.transcriptButton)}
            - i++;
          - });
        div.mdl-grid.table-grid
          if user.recordings.length > paginationCount
            div.pagination-container.mdl-card.mdl-cell.mdl-cell--12-col
                  - var y = 0;
                  - console.log(user.recordings.length)
                  ul.pagination.mdl-list
                    li(class=(startingIndex==0 ? "disabled" : false))
                      if startingIndex !== 0
                        a(href="/dashboard/calls/" + (startingIndex-paginationCount))
                          i.material-icons chevron_left
                      else
                        i.material-icons chevron_left
                    while y < pageNumber
                      li(class=(startingIndex==y*paginationCount ? "active": ""))
                        a(href="/dashboard/calls/" + y*paginationCount) !{y+1}
                      - y++
                    li(class=(startingIndex==(pageNumber-1)*paginationCount ? "disabled" : false))
                      if startingIndex !== (pageNumber-1)*paginationCount
                        a(href="/dashboard/calls/" + (startingIndex+paginationCount))
                          i.material-icons chevron_right
                      else
                        i.material-icons chevron_right
          
    //include footer

block js
  script(src="//cdn.plyr.io/3.4.3/plyr.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.6/wavesurfer.min.js")
  script(src="/js/recordings.js")
