extends layout

block variables
  title !{tim(strings.settings.title)} - Transcord

block content
  main.mdl-layout__content.bg.bg-login
    div.login-wrapper
      div.mdl-grid
        div.mdl-cell.mdl-cell--6-col
          div.mdl-card.mdl-shadow--6dp
            div.mdl-card__title.mdl-color--primary.mdl-color-text--white
              h2.mdl-card__title-text !{tim(strings.settings.dialogTitle)}
            div.mdl-card__supporting-text.mdl-grid

              form#form-settings(role='form' method='post' action='/settings')
                div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
                  label.mdl-textfield__label.mdl-color-text--grey(for='name') !{tim(strings.settings.nameTitle)}
                  input.mdl-textfield__input(type='text' name='name' value=user.name)
                  span.error.mdl-textfield__error(for="name") Error message goes heres


                div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
                  label.mdl-textfield__label.mdl-color-text--grey(for='username') !{tim(strings.settings.usernameTitle)}
                  input#username.mdl-textfield__input(type='text' name='username' value=user.username style="display:none")
                  input#username-disabled.mdl-textfield__input(type='text' name='username' disabled value=user.username)
                  span.error.mdl-textfield__error(for="username") Error message goes heres

                div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
                  label.mdl-textfield__label.mdl-color-text--grey(for='password') !{tim(strings.settings.passwordTitle)}
                  input#password.mdl-textfield__input(type='password' name='password')
                  span.error.mdl-textfield__error(for="password") Error message goes heres

                div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
                  label.mdl-textfield__label.mdl-color-text--grey(for='email') !{tim(strings.settings.emailTitle)}
                  input.mdl-textfield__input(type='text' name='email' value=user.email original=user.email)
                  span.error.mdl-textfield__error(for="email") Error message goes heres

                div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
                  label.mdl-textfield__label.mdl-color-text--grey(for='zip') !{tim(strings.settings.zipTitle)}
                  input.mdl-textfield__input(type='text' name='zip' value=numberHelper.pad(user.zip, 5) original=numberHelper.pad(user.zip, 5))
                  span.error.mdl-textfield__error(for="zip") Error message goes heres

                div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
                  label.mdl-textfield__label.mdl-color-text--grey(for='phoneNumber') !{tim(strings.settings.phoneNumberTitle)}
                  input.mdl-textfield__input(type='text' name='phoneNumber' value=user.phoneNumber original=user.phoneNumber)
                  span.error.mdl-textfield__error(for="phoneNumber") Error message goes heres

                label.mdl-switch.mdl-js-switch.mdl-cell.mdl-cell--12-col
                  input.mdl-switch__input(type='checkbox' id='emailNotification' name='emailNotification' checked=(user.emailNotification) ? 'checked' : false)
                  span.mdl-switch__label.mdl-color-text--grey(for='emailNotification') !{tim(strings.settings.emailNotificationTitle)}
                  span.error.mdl-textfield__error(for="emailNotification") Error message goes heres

                if(!mandatoryRecording)
                  label.mdl-switch.mdl-js-switch.mdl-cell.mdl-cell--12-col
                    input.mdl-switch__input(type='checkbox' id='privacyNotification' name='privacyNotification' checked=(user.privacyNotification) ? 'checked' : false)
                    span.mdl-switch__label.mdl-color-text--grey(for='privacyNotification') !{tim(strings.settings.privacyNotificationTitle)}
                    span.error.mdl-textfield__error(for="privacyNotification") Error message goes heres

                label.mdl-switch.mdl-js-switch.mdl-cell.mdl-cell--12-col
                  input.mdl-switch__input(type='checkbox' id='incomingPhoneNumber' name='incomingPhoneNumber' checked=(user.incomingPhoneNumber) ? 'checked' : false)
                  span.mdl-switch__label.mdl-color-text--grey(for='incomingPhoneNumber') !{tim(strings.settings.incomingPhoneNumberTitle)}
                  span.error.mdl-textfield__error(for="incomingPhoneNumber") Error message goes heres

              if (status) 
                b !{status}

                input#submit-form(type='submit' class='hidden')

            div.mdl-card__actions.mdl-card--border
              div.mdl-grid
                button#form-settings-button.mdl-cell.mdl-cell--12-col.mdl-button.mdl-button--raised.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--white(for='submit-form') !{tim(strings.settings.button)}

  block js
    script(src="/js/validation.js")
