extends layout

block variables
  if recording.direction == 0
    title !{tim(strings.transcript.title, {detail: recording.numberCalledFormatted })} - Transcord
  else if recording.direction == 1
    title !{tim(strings.transcript.title, {detail: recording.numberFromFormatted })} - Transcord


block content
  dialog#sharetranscript-dialog.mdl-dialog(style="padding:0")
    div.mdl-card.mdl-shadow--6dp(style="height:auto")
      div.mdl-card__title.mdl-color--primary.mdl-color-text--white
        h2.mdl-card__title-text Share transcript
      div.mdl-card__supporting-text.mdl-grid

        form#form-sharetranscript(style="width:100%" data-recordingSid=recording.recordingSid)
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
            label.mdl-textfield__label.mdl-color-text--grey(for='email') Email
            input#email.mdl-textfield__input(type='text' name='email')
            span.error.mdl-textfield__error(for="email") Error message goes heres
          

          input#submit-form(type='submit' class='hidden')

      div.mdl-card__actions.mdl-card--border
        div.mdl-grid
          div.mdl-cell.mdl-cell--12-col
            button.cancel-button.mdl-button.mdl-button--accent.mdl-js-button.mdl-color-text--primary.mdl-js-ripple-effect(style="float:left") Cancel
            button#form-sharetranscript-button.mdl-button.mdl-button--raised.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--white(style="float:right") Send email
            
  main.mdl-layout__content.bg
    div.mdl-grid(style="max-width:900px")
      div.transcript-control-card.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet
        div.mdl-card__title
          h2.mdl-card__title-text Call details
        div.mdl-card__supporting-text
          p 
            b Number: 
            if recording.direction == 0
              a.phoneNumber(href="tel:" + recording.numberCalled) !{recording.numberCalledFormatted}
            else if recording.direction == 1
              a.phoneNumber(href="tel:" + recording.numberFrom) !{recording.numberFromFormatted}
          p 
            b Date: 
            | !{moment(recording.startTime).format(strings.shared.dateFormat)}
          p.position-container 
            b.position-label Position: 
            span.position 00:00
            | /!{moment.utc(recording.duration*1000).format('mm:ss')}
            - console.log(peaks);
          div.waveform-container
            div.waveform(id='waveform-0' data-peaks=peaks data-id='0' data-recordingUrl=recording.recordingUrl)
              div(id="progress-" + 0 class="mdl-progress mdl-js-progress mdl-progress__indeterminate")
            button#button-0.transcript-play-button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored
              i#button-text-0.material-icons.play play_arrow
        if(user)
          div.mdl-card__actions.mdl-card--border
            div(style="float:left")
              button.email-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.mdl-color-text--primary
                i#email-icon.icon.material-icons email
                div.mdl-tooltip(data-mdl-for="email-icon") Share transcript
              a(href='/dashboard/downloadTranscript/' + recording.recordingSid)
                button.document-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.mdl-color-text--primary
                  i#document-icon.icon.material-icons description
                  div.mdl-tooltip(data-mdl-for="document-icon") Download Word document
              a(href='/dashboard/downloadRecording/' + recording.recordingSid)
                button.download-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.mdl-color-text--primary
                  i#audio-icon.icon.material-icons volume_up
                  div.mdl-tooltip(data-mdl-for="audio-icon") Download audio
              a(href='/dashboard/deleteRecording/' + recording.recordingSid)
                button.delete-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.mdl-color-text--primary
                  i#delete-icon.icon.material-icons delete
                  div.mdl-tooltip(data-mdl-for="delete-icon") Delete

      div.transcript-contents.mdl-card.mdl-cell.mdl-cell--8-col
        div.mdl-card__title.mdl-color--primary.mdl-color-text--white
          h2.mdl-card__title-text Transcript

        // if there's no transcription, give user a notice
        if transcription.length == 0
          div.mdl-card.mdl-cell.mdl-cell--12-col(style="border-radius:5px")
            div.mdl-card__supporting-text
              p No spoken words were detected by our algorithms.

        // otherwise, display the transcription
        - var previousWord = null;
        - var line = "";
        - var startTime = "";
        - for(var i=0; i<=transcription.length; i++) {
          - if(line.length > 0 && (previousWord !== null && (previousWord.lineBreak || transcription[i].side !== previousWord.side))) { // we have something to display and it's a break
              - console.log("Spitting out the word");
              - console.log("start time: " + startTime);
              div.mdl-grid.table-grid.transcript-grid
                if recording.direction == 0
                  div(class=(previousWord.side === 'left' ? 'mdl-layout-spacer' : '' ))
                  div.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--10-col(class=(previousWord.side === 'right' ? 'left' : 'right') style="border-radius:5px")
                    div.mdl-card__supporting-text
                      div.messageContainer(data-time=line.startTime data-length=recording.length)
                        h6.transcript-title(style="font-size:12px") #{previousWord.side === "left" ? recording.numberFromFormatted : recording.numberCalledFormatted}
                        p.transcript-text !{line}
                        p.transcript-time #{moment.utc(startTime*1000).format('mm:ss')}
                else if recording.direction == 1
                  div(class=(previousWord.side === 'right' ? 'mdl-layout-spacer' : '' ))
                  div.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--10-col(class=previousWord.side style="border-radius:5px")
                    div.mdl-card__supporting-text
                      div.messageContainer(data-time=previousWord.startTime data-length=recording.length)
                        h6.transcript-title(style="font-size:12px") #{previousWord.side === "left" ? recording.numberFromFormatted : recording.numberCalledFormatted}
                        p.transcript-text !{line}
                        p.transcript-time #{moment.utc(startTime*1000).format('mm:ss')}
          -   line = "";
          - } 
          - // let's keep processing text if there's more
          - if(i<transcription.length) {
          -   if(line.length==0) startTime = transcription[i].startTime;
          -   previousWord = transcription[i];
          -   line = line + "<span class='word' data-startTime='" + transcription[i].startTime + "' data-endTime='" + transcription[i].endTime + "'>" + transcription[i].characters + "</span> ";
          - }
        - }

block js
  script(src="/js/libs/wavesurfer.min.js")
  script(src="/js/validation.js")
  script(src="/js/transcript.js")
