extends layout

block variables
  if user.recordings[0].direction == 0
    title !{tim(strings.transcript.title, {detail: user.recordings[0].numberCalledFormatted })} - Transcord
  else if user.recordings[0].direction == 1
    title !{tim(strings.transcript.title, {detail: user.recordings[0].numberFromFormatted })} - Transcord


block content
  dialog#sharetranscript-dialog.mdl-dialog(style="padding:0")
    div.mdl-card.mdl-shadow--6dp(style="height:auto")
      div.mdl-card__title.mdl-color--primary.mdl-color-text--white
        h2.mdl-card__title-text Share transcript
      div.mdl-card__supporting-text.mdl-grid

        form#form-sharetranscript(style="width:100%")
          div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
            label.mdl-textfield__label.mdl-color-text--grey(for='email') Email
            input#email.mdl-textfield__input(type='text' name='email')
            span.error.mdl-textfield__error(for="email") Error message goes heres

      div.mdl-card__actions.mdl-card--border
        div.mdl-grid
          div.mdl-cell.mdl-cell--12-col
            button.cancel-button.mdl-button.mdl-button--accent.mdl-js-button.mdl-color-text--primary.mdl-js-ripple-effect(style="float:left") Cancel
            button.sharetranscript-button.mdl-button.mdl-button--raised.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--white(style="float:right") Send email
            
  main.mdl-layout__content.bg
    div.mdl-grid(style="max-width:900px")
      div.transcript-control-card.mdl-card.mdl-shadow--160dp.mdl-cell.mdl-cell--4-col.mdl-cell--12-col-tablet
        div.mdl-card__title
          h2.mdl-card__title-text Call details
        div.mdl-card__supporting-text
          p <b>Number: </b>
            if user.recordings[0].direction == 0
              a.phoneNumber(href="tel:" + user.recordings[0].numberCalled) !{user.recordings[0].numberCalledFormatted}
            else if user.recordings[0].direction == 1
              a.phoneNumber(href="tel:" + user.recordings[0].numberFrom) !{user.recordings[0].numberFromFormatted}
          p <b>Date: </b>
            | !{moment(user.recordings[0].startTime).format(strings.shared.dateFormat)}
          div.waveform(id='waveform-0' data-id='0' data-recordingUrl=user.recordings[0].recordingUrl)
            div(id="progress-" + 0 class="mdl-progress mdl-js-progress mdl-progress__indeterminate")
          button#button-0.transcript-play-button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored
            i#button-text-0.material-icons.play play_arrow
        div.mdl-card__actions.mdl-card--border
          div(style="float:left")
            button.email-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.mdl-color-text--primary
              i.icon.material-icons email
              div.mdl-tooltip(data-mdl-for="email-button") Share transcript
            a(href='/dashboard/downloadRecording/' + user.recordings[0].recordingSid)
              button.download-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.mdl-color-text--primary
                i.icon.material-icons save_alt
                div.mdl-tooltip(data-mdl-for="download-button") Download audio
            a(href='/dashboard/deleteRecording/' + user.recordings[0].recordingSid)
              button.delete-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent.mdl-color-text--primary
                i.icon.material-icons delete
                div.mdl-tooltip(data-mdl-for="delete-button") Delete

      div.mdl-card.mdl-cell.mdl-cell--8-col
        div.mdl-card__title.mdl-color--primary.mdl-color-text--white
          h2.mdl-card__title-text Transcript

        // if there's no transcription, give user a notice
        if transcription.length == 0
          div.mdl-card.mdl-cell.mdl-cell--12-col(style="border-radius:5px")
            div.mdl-card__supporting-text
              p No spoken words were detected by our algorithms.

        // otherwise, display the transcription
        - var previousWord = null;
        - var line = "";
        - var startTime = "";
        - for(var i=0; i<=transcription.length; i++) {
          - if(line.length > 0 && (previousWord !== null && (previousWord.lineBreak || transcription[i].side !== previousWord.side))) { // we have something to display and it's a break
              - console.log("Spitting out the word");
              - console.log("start time: " + startTime);
              div.mdl-grid.table-grid.transcript-grid
                if user.recordings[0].direction == 0
                  div(class=(previousWord.side === 'left' ? 'mdl-layout-spacer' : '' ))
                  div.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--10-col(class=(previousWord.side === 'right' ? 'left' : 'right') style="border-radius:5px")
                    div.mdl-card__supporting-text
                      div.messageContainer(data-time=line.startTime data-length=user.recordings[0].length)
                        h6.transcript-title(style="font-size:12px") #{previousWord.side === "left" ? user.recordings[0].numberFromFormatted : user.recordings[0].numberCalledFormatted}
                        p.transcript-text !{line}
                        p.transcript-time #{moment.utc(startTime*1000).format('mm:ss')}
                else if user.recordings[0].direction == 1
                  div(class=(previousWord.side === 'right' ? 'mdl-layout-spacer' : '' ))
                  div.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--10-col(class=previousWord.side style="border-radius:5px")
                    div.mdl-card__supporting-text
                      div.messageContainer(data-time=previousWord.startTime data-length=user.recordings[0].length)
                        h6.transcript-title(style="font-size:12px") #{previousWord.side === "left" ? user.recordings[0].numberFromFormatted : user.recordings[0].numberCalledFormatted}
                        p.transcript-text !{line}
                        p.transcript-time #{moment.utc(startTime*1000).format('mm:ss')}
          -   line = "";
          - } 
          - // let's keep processing text if there's more
          - if(i<transcription.length) {
          -   if(line.length==0) startTime = transcription[i].startTime;
          -   previousWord = transcription[i];
          -   line = line + "<span class='word' data-startTime='" + transcription[i].startTime + "' data-endTime='" + transcription[i].endTime + "'>" + transcription[i].characters + "</span> ";
          - }
        - }

block js
  script(src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.6/wavesurfer.min.js")
  script(src="/js/validation.js")
  script(src="/js/recordings.js")
