block variables
  title Dashboard - Transcord

extends layout

block content
  .container
    h2 Calls (!{user.recordings.length})
    table.table
      thead
        tr.head
          th Date
          th To
          th Length
          th Audio
          th Transcript
      tbody
        - user.recordings.forEach(function(recording) {
          tr
            td
              - recording.startTimeFormatted = new Date(recording.startTime.toString());
              !{moment(recording.startTimeFormatted).format('MMM DD, YYYY h:mm a')}
            td
              !{recording.numberCalledFormatted}
            td
              !{moment.utc(recording.duration*1000).format('mm:ss')}
            td
              audio(controls='')
                source(src=recording.recordingUrl, type='audio/wav')
            td
              a(href='/dashboard/transcript/' + recording.recordingSid) View transcript
        - })
