extends layout

block content
  .container
    form.form-signin(role='form', action="/profile",method="post", style='max-width: 300px;')
      h2.form-signin-heading Profile
      .setting-group
        label.setting-label Name
        .setting
          input.form-control(type='text', name="name", value=user.name)
      .setting-group
        label.setting-label Username
        .setting
          input.form-control(type='text', name="username", value=user.username)
      .setting-group
        label.setting-label Password
        .setting
          input.form-control(type='password', name="password", placeholder='Enter new password')
      .setting-group
        label.setting-label Email
        .setting
          input.form-control(type='text', name="email", value=user.email)
      .setting-group
        label.setting-label Phone number
        .setting
          input.form-control(type='text', name="phoneNumber", value=user.phoneNumber)

      if (status)
        .message-group
          label.message-label !{status.message}

      button.btn.btn-lg.btn-primary.btn-block(type='submit') Update
